PORT=***********
ENVIRONMENT=***********
AWS_ACCESS_KEY_ID=***********
AWS_SECRET_ACCESS_KEY=***********
AWS_REGION=***********

TEST_WALLET1_PRIVATE_KEY=***********
TEST_WALLET2_PRIVATE_KEY=***********
TEST_WALLET3_PRIVATE_KEY=***********
TEST_WALLET4_PRIVATE_KEY=***********
TEST_WALLET5_PRIVATE_KEY=***********
TEST_WALLET6_PRIVATE_KEY=***********
TEST_WALLET6_API_KEY=***********
TEST_WALLET7_API_KEY=***********
TEST_WALLET7_API_KEY_DEVELOPMENT=*********

JWT_SECRET=***********
JWT_REFRESH_SECRET=***********

LIGHTHOUSE_IPNS_NODE=***********
LIGHTHOUSE_PUBLIC_NODE_TOKEN=***********
ROUTE_ACCESS_TOKEN=***********
TRANSACTION_ROUTE_TOKEN=***********
POLYGON_RPC=***********
REDIS_PASSWORD=***********
REDIS_URL=***********
LIGHTHOUSE_BILLING_ADDRESS=***********
LIGHTHOUSE_ENC_MESSAGE_TOKENS=***********

SMTP_EMAIL_HOST=***********
SMTP_EMAIL_PASSWORD=***********
SMTP_EMAIL_ID=***********

STRIPE_KEY=***********
PAYMENT_URL=***********
STRIPE_WEBHOOK=***********

LIGHTHOUSE_COREUM_ADDRESS=***********

FILECOIN_RPC==***********

RADIX_DAPP_DEFINATION=***********
RADIX_NETWORK_ID=***********
RADIX_EXPECTED_ORIGIN=***********
LIGHTHOUSE_RADIX_ADDRESS=***********
